<div class="main_bg" style="background:white" ng-controller="ProductController">
<div class="wrap">
	<div class="main">
		<div class="res_online" align="center">
			<h4>Check Availability</h4>
			
		</div>			
			<div class="span_of_2">
				<div class="span2_of_1">
					<div class="book_date btm">
						<form>
							<h4>Room Name</h4>
							<input type="text" class="form-control" id="disabledInput" name="rname" id="rname" class="userinput" placeholder="Room Name" ng-model="avaiRoom"  ng-readonly="true" disabled />
							<div ng-show="myForm2.$submitted || myForm2.rname.$touched">
		                   		<span style="color:#e78200" ng-show="myForm2.rname.$error.required">Please Enter Room Name</span><br>
		                 	</div>
					
							
						</form>
						
						
					</div>	
					
						
					
				</div>
				<div class="span2_of_1">
					<h4>Date:</h4>
					<div class="book_date btm">
						<form>
							<input type="date" class="date" style="width: 250px;" ng-model="date">
							
						</form>
					</div>	
					
					<h4>Time:</h4>
					<div class="book_date btm">
						<form>
							<input type="time" class="time"  style="width: 250px;" ng-model="time">
						</form>
					</div>
						
					<div class="sel_room left">
						
					</div>	
				</div>
				<div class="clear"></div>
				<div class="res_btn">
					<form>
						<input type="submit" value="Check Availability" style="width: 280px;"  ng-click="availableRoom(date , time , avaiRoom)" >
					</form>
				</div>	
			</div>
			
					
				
	</div>
</div>
</div>	


<!-- Modal -->
<div id="ordine1" class="modal fade" role="dialog" ng-controller="ProductController">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title">Ohh No!</h4>
      </div>
      <div class="modal-body">
      
		<p>Room Not Available</p>
      
      </div>
      
      
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>

  </div>
</div>




<!-- Modal -->
<div id="ordine2" class="modal fade" role="dialog" ng-controller="ProductController">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">X</button>
        <h4 class="modal-title">Yesss!</h4>
      </div>
      <div class="modal-body">
      
		<p>Room Available</p>
      
      </div>
      
      
      
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goto_bookForm()">Close</button>
      </div>
    </div>

  </div>
</div>